.home-detalle{
    background-color:rgb(255, 255, 255);
}
.home-detalle::-webkit-scrollbar{
    display: none;
}
.home-detalle main.detalleDeProd .sectionDetail div.vistas ul{
    display: none;
}
.home-detalle main.detalleDeProd .sectionDetail .detallado {
    width: 80%;
    margin-left: 10%;
    display: flex;
    overflow-y: hidden;
}

.home-detalle main.detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage{
    display: flex;
    height: 70px;
    padding: 10px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    border-radius: 50%;
    color: darkviolet;
}
.home-detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal{
    width: 100%;
    height: 450px;
    margin: 0 50px 0 10px;
}
.home-detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
    width: 100%;
    height: 450px;
    margin: 0 50px 0 50px;
}

.home-detalle main.detalleDeProd .sectionDetail div.detalle{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 365px;
    margin: 10px 10px 50px 0;
}

.home-detalle main.detalleDeProd .sectionDetail div.detalle div.precio-descuento{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 3px;
    margin: 5px 0 10px 0;
}

.home-detalle main.detalleDeProd .sectionDetail div.detalle div.precio-descuento .descuento{
    text-decoration: line-through;
    margin-left: 5px;
}

.home-detalle main.detalleDeProd .sectionDetail div.detalle .botones{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-detalle main.detalleDeProd .sectionDetail div.detalle .botones .sumar, .restar{
    width: 25px;
    height: 25px;
}
.home-detalle main.detalleDeProd .sectionDetail div.detalle .botones .cantidad{
    width: 30px;
    height: 25px;

}

.home-detalle main.detalleDeProd .sectionDetail div.detalle .agregar{
    width: 100%;
    margin-top: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-detalle main.detalleDeProd .sectionDetail div.detalle .agregar .a-favorito, .a-carrito{
    width: 60%;
    height: 30px;
}



.home-detalle main.detalleDeProd .similares ul{
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.home-detalle main.detalleDeProd .similares ul article{
    width: 100vw;
    height: 250px;
    margin-top: 50px;
}
.home-detalle main.detalleDeProd .similares ul::-webkit-scrollbar{
    display: none;
}


.home-detalle main.detalleDeProd .similares article div.producto{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50vw;
    height: 250px;
    
}
.home-detalle main.detalleDeProd .similares article div.producto img.similar{
    width: 100%;
    height: 150px;
}

.home-detalle main.detalleDeProd .similares article div.producto{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 250px;
    padding: 1vw;
}
.home-detalle main.detalleDeProd .similares ul{
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.home-detalle main.detalleDeProd .similares ul article{
    width: 100%;
    height: 250px;
}
.home-detalle main.detalleDeProd .similares article div.producto{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 250px;
    padding: 1vw;
}
.home-detalle main.detalleDeProd .similares article div.producto img.similar{
    width: 80%;
    height: 150px;
}


@media (min-width: 791px) {

    .home-detalle main.detalleDeProd .sectionDetail {
        display: flex;
        width: 98vw;
        height: 395px;
        margin: 1vw;
        margin-bottom: 100px;
        border-bottom: 2px solid black;
    }
    .home-detalle main.detalleDeProd .sectionDetail .detallado {
        display: flex;
        width: 80%;
        margin-left: 10%;
        overflow-y: hidden;
    }
    .home-detalle main.detalleDeProd .sectionDetail div.vistas{
        display: flex;
        width: 60%;
        background-color: white;
        height: 375px;
        margin: 10px 10px 10px 0px;
    }
    .home-detalle main.detalleDeProd .sectionDetail div.detalle{
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
        width: 46%;
        height: 375px;
        padding-left: 5px;
        margin: 10px 10px 50px 10px;
        border-left: 2px solid black;
    }

    .home-detalle main.detalleDeProd .sectionDetail div.vistas ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: fit-content;
        background-color: white;
        flex-wrap: nowrap;
        align-items: flex-start;
        border-right: 2px solid black;
    }

    .home-detalle main.detalleDeProd .sectionDetail div.vistas ul li{
        list-style: none;
    }
    .home-detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal{
        width: 40vw;
        height: 350px;
    }
    .home-detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
        display: none;
    }

    .home-detalle main.detalleDeProd .sectionDetail div.vistas img{
        width: 69px;
        height: 70px;
    }

    .home-detalle main.detalleDeProd .descripcion{
        width: 98%;
        margin: 1%;
    }
    .home-detalle main.detalleDeProd .similares ul article{
        width: 25%;
        height: 270px;
    }
    .home-detalle main.detalleDeProd .similares article div.producto{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 24vw;
        height: 275px;
        padding: 1vw;
    }
    .home-detalle main.detalleDeProd .similares ul{
        display: flex;
        width: 94vw;
        margin-left: 3vw;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-y: auto;
    }
    .home-detalle main.detalleDeProd .similares article div.producto img.similar{
        width: 80%;
        height: 150px;
    }
    
}
