.home{
    background-image: url(/images/FondoMovil.jpg);
    background-color: #221d1da8;
    background-attachment: scroll;
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
}

.home::-webkit-scrollbar{
    display: none;
}

.home main .contenedor, .home main .contenedor-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4%;
    margin-top: 10px;
}
.home main .contenedor ul article div.producto{ 
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 20vw;
    height: 250px;
    margin: 12px;
}

.home main.contenedor-2 ul article div.producto{
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 20vw;
    height: 250px;
    margin: 12px;
}


.home main .contenedor-2{
    display: none;
    margin-top: 25px;
    width: 96vw;
    height: 400px;
    margin-left: 3vw;
}

.home main .contenedor ul{
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.home main .contenedor ul article div.producto, .contenedor-2 ul article div.producto{
    display: block;
    text-align: center;
    width: 90vw;
    padding: 20px;
    height: 310px;
}

.home main .contenedor img, .contenedor-2 img{
    width: 80%;
    height: 150px;
}


.home main .contenedor ul .producto h2, 
.home main .contenedor-2 ul .producto h2{
    font-family: var(--fuenteGral);
    font-size: 20px;
    text-align: center;
    color: #5b3b4d;
    margin-top: 10px;
}
 
.home main .categorias-home h3{
    font-family: var(--fuenteGral);
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-top: 35px;    
}
.home main .categorias-home:nth-of-type(3){
    display: none;
}
.home main .categorias-home:nth-of-type(4){
    display: none;
}
.home main .contenedor-2 .categorias-home h3:first-child{
    margin-bottom: -40px;
}
.home main .contenedor-2 .categorias-home h3:last-child{
    margin-top: 65px;

}


.home main .contenedor p, .contenedor-2 p{
    margin-top: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    border-top: none;
}

.home main .spots{
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.811);
    padding: 10px 10px;
    margin-top: 10px;
    
}

.home main .spots .video-1 iframe.spot-1{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.home main .spots .video-2{
    display: none;
}


@media (min-width: 461px){
    .home{
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home main .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .home main .contenedor ul{
        display: flex;
        width: 90%;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-y: auto;
    }

    .home main .contenedor ul article div.producto{
        background-color: rgb(253, 252, 252);
        display: block;
        text-align: center;
        width: 41vw;
        margin: 5px;
        padding: 15px;
    }

    .home main .contenedor img{
        margin-top: 20px;
        width: 80%;
        height: 150px;
    }

}

@media (min-width: 791px){
    .home{
        background-image: url(/images/FondoRecital.jpg);
        background-color: white;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home main .contenedor-2{
        display: block;
        
    }

    .home main .contenedor, .contenedor-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 66vw;
        margin-top: 30px;
        margin-left: 17vw;
        padding: 0;
    }
    .home main .contenedor ul::-webkit-scrollbar-thumb,
    .contenedor-2 ul::-webkit-scrollbar-thumb{
        display: flex;
        width: 45vw;
        color: #000000;

    }

    .home main .categorias-home:nth-of-type(3){
        display: block;
    }
    .home main .categorias-home:nth-of-type(4){
        display: block;
    }
    
    .home main .contenedor ul, .contenedor-2 ul{
        display: flex;
        width: 85vw;
        height: 400px;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-y: auto;   
    }
    .home main .contenedor ul article div.producto:hover,
    .home main .contenedor-2 ul article div.producto:hover{
        transform: scale(1.1);
    }


    .home main .contenedor ul article div.producto, .contenedor-2 ul article div.producto{
        background-color: rgb(255, 255, 255);
        display: block;
        text-align: center;
        width: 18vw;
        height: 325px;
        margin-left: 45px;
        transition: 0.5s;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.947);
    }

    .home main .contenedor img{
        width: 80%;
        height: 150px;
    }

    .home main .contenedor-2 img{
        width: 90%;
        height: 180px;
    }
    
    .home main .spots{
        display: flex;
        width: 100%;
        height: 250px;
        margin-top: 20px;
        margin-top: 150px;
        margin-bottom: 50px;
        justify-content: space-around;
    }
    .home main .spots div.video-1{
        display: flex;
        width: 45%;
        height: 300px;
    }
    .home main .spots .video-1 iframe.spot-1{
        display: flex;
        width: 100%;
        height: 230px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .home main .spots div.video-2{
        display: flex;
        width: 45%;
        height: 300px;
    }
    .home main .spots .video-2 iframe.spot-2{
        width: 100%;
    }



    #arrowAnim {
        position: absolute;
        width: 0vw;
        height: 10vh;
        top: 44rem;
        left: 7vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
  }
       
  #arrowAnim-2 {
        position: absolute;
        width: 0vw;
        height: 10vh;
        right: 105vw;
        top: 74.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
  #arrowAnim-3 {
        position: absolute;
        width: 0vw;
        height: 10vh;
        right: 100vw;
        top: 107.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
       .arrow {
        width: 5vw;
        height: 5vw;
        border: 2.5vw solid;
        border-color: black transparent transparent black;
        transform: rotate(-45deg);
      }
      
      .arrowSliding {
        position: absolute;
        -webkit-animation: slide 4s linear infinite; 
                animation: slide 4s linear infinite;
      }
      
       .delay1 {
        -webkit-animation-delay: 1s; 
          animation-delay: 1s;
      }
       .delay2 {
        -webkit-animation-delay: 2s; 
          animation-delay: 2s;
      }
       .delay3 {
        -webkit-animation-delay: 3s; 
          animation-delay: 3s;
      }
      
      @keyframes slide {
          0% { opacity:0; transform: translateX(15vw); }	
         20% { opacity:1; transform: translateX(9vw); }	
         80% { opacity:1; transform: translateX(-9vw); }	
        100% { opacity:0; transform: translateX(-15vw); }	
      }
      @keyframes slide {
          0% { opacity:0; transform: translateX(15vw); }	
         20% { opacity:1; transform: translateX(9vw); }	
         80% { opacity:1; transform: translateX(-9vw); }	
        100% { opacity:0; transform: translateX(-15vw); }	
      }
}
