.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.perfil .credencial{
    display: flex;
    background: linear-gradient(#6487e6, #9437b1);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 6px solid black;
    width: 252px;
    height: 500px;
    margin-top: 35px;
    border-radius: 10%;
}

.perfil .credencial img{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10%;
}

.perfil .credencial h2{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    
}

.perfil .credencial .logo img{
    width: 75px;
    height: 65px;
}

@media(min-width:769px){
    
    .perfil{
        background-color: rgb(red, green, blue, 11.5px);
    }

    .perfil .video-promo video{
        width: 100vw;
        margin-left: 0;
    }

    .perfil .edit-delete-logout{
        position: absolute;
        z-index: 2;
        background-color: black;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .perfil .credencial{
        z-index: 1;
        display: flex;
        background: linear-gradient(#6487e6, #9437b1);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 6px solid black;
        box-shadow: 0 0 15px rgb(0 0 0 / 95%);
        width: 320px;
        height: 500px;
        top: 8rem;
        border-radius: 5%;
        position: absolute;
    }

    .perfil a button{
        font-family: var(--fuenteGral);
    }
    
    .perfil .credencial img{
        width: 200px;
        height: 150px;
        margin-top: 20px;
        border-radius: 10%;
    }
    
    .perfil footer{
        margin-top: 0;
    }
    
}
