
.detalle h2{
    text-align: center;
}

.detalle .detalleDeProd{
    background: linear-gradient(#6487e6, #ebe5ec);
 }
.detalle .sin-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
   
    border: 2px solid rgba(212, 0, 255, 0.664) ;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
    border-radius: 16px;
   background-color: white;
}
.detalle  .volver {
    
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        padding: 10px;
        font-size: 27px;
        border: solid black 2px;
        border-radius: 15px;
        margin-top: 40px;
    
}
.detalle .detalleDeProd{
    background-repeat: repeat;
    background-size: 90px;
    height:850px;

}
.detalle .sin-stock img{
    width: 20%;

}
.detalle::-webkit-scrollbar{
    display: none;
}
.detalle main.detalleDeProd .sectionDetail div.vistas ul{
    display: none;
}
.detalle main.detalleDeProd .sectionDetail .detallado {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detalle main.detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
    display: flex;
    height: 5%;
    width: 15%;
    padding: 10px;
    font-size: 80%;
    justify-content: center;
    background-color: rgb(43, 41, 41);
    align-items: center;
    border: 2px solid rgb(238, 176, 186);
    border-radius: 50%;
    color: rgb(238, 176, 186);
    position: absolute;
    left: 64%;
    bottom: 68%;
}
.detalle main.detalleDeProd .sectionDetail div.vistas .detallado .principal{
    width: 90%;
    height: 220px;
    border:blueviolet solid 2px;
    border-radius: 16px;
    margin-top: 10%;
}
.detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
    width: 100%;
    height: 450px;
    margin: 0 50px 0 50px;
}

.detalle main.detalleDeProd .sectionDetail .detalle{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 365px;
    margin: 10px 10px 50px 0;
    align-items: center;
}

.detalle main.detalleDeProd .sectionDetail .detalle  .titulo,.marca{
color: black;
background-color: aqua;
border: rgb(7, 174, 252) solid 2px; 
border-radius: 10px;
width: 60%;
padding: 5px;
margin: 5px;
}
.detalle main.detalleDeProd .sectionDetail .detalle .precio{
    width: 100%;
}
.detalle main.detalleDeProd .sectionDetail .detalle .precio-detalle{
    color: black;
background-color: aqua;
border: rgb(7, 174, 252) solid 2px; 
border-radius: 10px;
width: 100%;
padding: 5px;
margin: 5px;
}

.detalle main.detalleDeProd .sectionDetail div.detalle .precio-descuento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    margin: 5px 0 10px 0;
}

.detalle main.detalleDeProd .sectionDetail div.detalle div.precio-descuento .descuento{
    text-decoration: line-through;
    margin-left: 5px;
    color: black;
    background-color: pink;
    border: rgb(235, 129, 146) 2px solid;
    border-radius: 10px;
    font-size: 22px;
    padding: 3px;
}

.detalle main.detalleDeProd .sectionDetail div.detalle .botones{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle main.detalleDeProd .sectionDetail div.detalle .botones .sumar, .restar{
    width: 25px;
    height: 25px;
}
.detalle main.detalleDeProd .sectionDetail div.detalle .botones .cantidad{
    width: 30px;
    height: 25px;

}

.detalle main.detalleDeProd h1, h2, span{
    text-align: center;
}

.detalle main.detalleDeProd .sectionDetail div.detalle .agregar{
    width: 100%;
    margin-top: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.detalle main.detalleDeProd .sectionDetail div.detalle .agregar  .a-carrito{
    width: 70%;
    height: 40px;
    background: blueviolet;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
}
.detalle .a-carrito a{
color: white;
}


.detalle main.detalleDeProd .descripcion{
    width: 80%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    border: blueviolet 2px solid;
    border-radius: 16px;
    padding: 3%;
}
.detalle main.detalleDeProd .caja-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detalle main.detalleDeProd .caja-descripcion h2{
    display: none;
}
.detalle main.detalleDeProd .similares{
    display: none;
}

.detalle main.detalleDeProd .similares ul{
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.detalle main.detalleDeProd .similares ul article{
    width: 100vw;
    height: 250px;
    margin-top: 50px;
}
.detalle main.detalleDeProd .similares ul::-webkit-scrollbar{
    display: none;
}

.detalle main.detalleDeProd .similares ul article{
    width: 25%;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.detalle main.detalleDeProd .similares article div.producto{
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    width: 40vw;
    padding: 1vw;
}

.detalle main.detalleDeProd .similares article p{
    color: black;
    text-align: center;

}

.detalle main.detalleDeProd .similares article h4{
    color: black;
    text-align: center;
}

.detalle main.detalleDeProd .similares ul{
    
    height: 16rem;
    margin-left: 1vw;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin-top: 60px;
    
}

@media (min-width: 461px) {
    
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
        bottom: 57%;
        width: 11%;
        left: 71%;
        height: 66px;
        font-size: 20px;
    }
    
    .detalle main.detalleDeProd .caja-descripcion h2{
        display: block;
        color: white;
        background-color: black;
        border:  rgb(7, 174, 252) solid 2px;
        padding: 5px;
        border-radius: 10px;
    }
    .detalle main.detalleDeProd .similares{
        display: block;
    }
    .detalle main.detalleDeProd h2.similares{
        display: none;
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado .principal {
        height: 294px;
    }
    .detalle .detalleDeProd {
        background-repeat: repeat;
        background-size: 38px;
        height: 1050px;
    }
    .detalle main.detalleDeProd .similares article .tarjeta-detalle{
        text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 6%;
    }
    .detalle main.detalleDeProd .similares article{
        background-color: #6487e68c;
    }
    .detalle main.detalleDeProd .similares article .tarjeta-detalle .titulo-tarjeta{
        color: black;
    }
    .detalle main.detalleDeProd .similares article .tarjeta-detalle .precio-tarjeta{
        color: black;
    }
    .detalle main.detalleDeProd .similares article div.producto{
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100px;
        
    }
    }
@media (min-width: 791px) {

    .detalle main.detalleDeProd .caja-descripcion h2{
        display: block;
        color: white;
        background-color: black;
        border:  rgb(7, 174, 252) solid 2px;
        padding: 5px;
        border-radius: 10px;
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado .principal{
        margin-top: 0px;
        margin-bottom: 15px;
       
    }
    .detalle main.detalleDeProd .sectionDetail {
        display: flex;
        width: 98vw;
        height: 395px;
        
       
    }
    .detalle main.detalleDeProd .sectionDetail .detallado {
        display: flex;
        width: 100%;
        overflow-y: hidden;
        height: 430px;
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas{
        display: flex;
        width: 52%;
       justify-content: center;
        height: 520px;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas ul .caja-secundarias{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
        bottom: 53%;
        left: 36%;
        width: 5%;
        height: 50px;
        font-size: 15px;
    }
    .detalle main.detalleDeProd .sectionDetail div.detalle {
        display: flex;
        flex-direction: column;
        width: 46%;
        height: 475px;
        margin-top: 30px;
        padding: 2%;
        border: 2px solid blueviolet;
        border-radius: 20px;
        margin-right: 16px;
        background-color: rgba(116, 116, 116, 0.329);
    }

    .detalle main.detalleDeProd .sectionDetail div.vistas ul{
        display: flex;
       margin-left: 7%;
        
    }

    .detalle main.detalleDeProd .sectionDetail div.vistas ul li{
        list-style: none;
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal{
        width: 30vw;
        height: 400px;
        margin-top: 30px;
       
    }
    .detalle main.detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
        display: none;
    }

    .detalle main.detalleDeProd .sectionDetail div.vistas .secundarias{
        width: 69px;
        height: 70px;
        margin: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .detalle main.detalleDeProd h1, h2, span{
        text-align: center;
    }

    .detalle main.detalleDeProd .descripcion{
        width: 98%;
        margin: 1%;
    }
    .detalle main.detalleDeProd .similares ul article{
        width: 25%;
        height: 240px;
    }
    .detalle main.detalleDeProd .similares article div.producto{
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 15vw;
        padding: 1vw;
    }

    .detalle main.detalleDeProd .similares article p{
        color: black;
        text-align: center;

    }

    .detalle main.detalleDeProd .similares article h4{
        color: black;
        text-align: center;
    }

    .detalle main.detalleDeProd h2.similares {
        display: block;
        background-color: rgb(245, 163, 176);
        color: white;
        border: white 2px solid;
        padding: 5px;
        position: absolute;
        bottom: 26%;
        left: 0%;
        width: 100%;
    }
    .detalle main.detalleDeProd .similares ul{
        width: 94vw;
        height: 20rem;
        margin-left: 3vw;
       margin-top: 15%;
    }
}
