.editar  h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 7px #14d0ff;
    color: #14d0ff;
}
.editar .input-invisible{
    display: none;
}
.editar  section #descripcion2{
    display: none;
}
.editar  .section-imagenes{
    display: flex;
   width: 100%;
    flex-direction: row-reverse;
}
.editar .imagenes-secc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.editar  .section-imagenes #imagen,#imagen2,#imagen3,#imagen4{
   display: none;
}
.editar{
    display: flex;
    flex-direction: column;
    background: linear-gradient(black,blueviolet, black);
    
    
}
.editar .direct-lista{
    display: none;
}
.editar .direct-lista-flecha{
    color: white;
    font-size: 25px;
    margin-left: 3%;

}
.editar form{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
}
.editar form div{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editar .imagenes-sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
   
}
.editar .error{
    margin: 10px;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4px;
    text-shadow: 5px 3px 4px red;
}
.editar .secundarias{
    width: 68%;
    margin: 20px;
    padding: 3%;
    background-color: black;
    box-shadow: 5px 5px 10px #dd55ff;
}
.editar .secundarias2{
    height: 167px;
    /* margin: 20px; */
    /* padding: 3%; */
    background-color: white;
    box-shadow: 5px 5px 10px      #dd55ff;
    ;
    background-repeat: no-repeat;
    width: 87%;
    background-size: 51vw 19vh;
    border: 1px solid black;
    margin: 6%;
}
.editar .p-imagen{
    color: white;
    font-size: 15px;
    text-shadow: 4px 3px 10px black
}
.editar .label-imagen{
    width: 95%;
}
.editar  section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar .direct-lista{
    width: 60vw;
    margin-left: 20vw;
}
.editar  section .mb-3{
    display: flex;
   flex-direction: column;
   align-items: center;
   background-color: black;
   margin: 5px;
   width: 103%;
   border: 2px solid #14d0ff;
   border-radius: 10px;
}
.editar  section .mb-33 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    
    margin: 5px;
    width: 35%;
   
}
.editar  section .mb-33 label.form-label {
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 100%;
    font-size: 19px;
    text-shadow: 2px 2px 7px #dd55ff;
    color: #dd55ff;
    background-color: black;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #dd55ff;
    box-shadow: 4px 2px 2px #dd55ff;
}
  

.editar  section .mb-3 label.form-label{
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 70%;
    font-size: 25px;
    text-shadow: 2px 2px 7px #14d0ff;
    color: #14d0ff;
    background-color: black;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    box-shadow: 4px 2px 2px #14d0ff;
    border: 1px solid #14d0ff;
}

.editar  section .mb-3 .invalid-feedback{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    text-align: left;
    font-size: 15px;
    color: red;
}

.editar  section .mb-3 input.form-control{
    width: 60vw;
    height: 30px;
    text-align: center;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
}

.editar  section .mb-3 select.form-select{
    width: 60vw;
    height: 30px;
   text-align: center;
    border: 2px solid black;
}

.editar  section .botones{
    width: 30vw;
    flex-direction: row;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.editar section .botones .boton .btn{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    
    z-index: 2;
}
.editar section .botones .boton .btn-primary::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(19, 227, 255),white,rgb(4, 1, 187));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;
}

.editar section .botones .boton .btn-primary:hover::after{
    background-position: 100%;
    filter: blur(15px);
}

.editar section .botones .boton .btn-primary::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(19, 227, 255), white, rgb(4, 1, 187));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}

.editar section .botones .boton .btn-primary:hover::before{
    background-position: 100%;
}
.editar  section .botones .btn.btn-primary{
   
    padding: 15px;
    color:white;
    border-radius: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 1px 3px #000000ad;
    border: 2px solid black;
    margin-right: 25%;
    
}

.editar section .botones .boton .btn-secundary::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg,  rgb(255, 30, 143), rgb(255, 15, 15),rgb(255, 15, 15),rgb(255, 30, 143));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;
}

.editar section .botones .boton .btn-secundary:hover::after{
    background-position: 100%;
    filter: blur(15px);
}

.editar section .botones .boton .btn-secundary::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(255, 15, 15),rgb(255, 15, 15),rgb(255, 30, 143));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}

.editar section .botones .boton .btn-secundary:hover::before{
    background-position: 100%;
}


.editar  section .botones .btn.btn-secundary{
   
    padding: 15px;
    color:black;
    border-radius: 10px;
    margin-bottom: 50px;
   
    border: 2px solid black;
    margin-right: 25%;
    
}
.editar  section .botones .btn.btn-secundary{
   
    border-radius: 15%;
    margin-bottom: 50px;
    
}





.editar  section .botones .boton{
    display: flex;
    margin: 20%;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.editar  section .botones .btn.btn-primary{
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 1px 3px #000000ad;
    border: 2px solid black;
    margin-right: 25%;
    
}

.editar  section .botones .btn.btn-secundary{
   
 
    margin-bottom: 50px;
    
}
.editar  section #descripcion textarea {
    width: 68%;
    margin-top: 5px;
    padding: 2%;
    border: 2px solid black;
    border-radius: 10px;}


@media (min-width: 461px) {
    .editar {
        display: flex;
        justify-content: center;
    }
    .editar section .botones .boton {
        margin: 5px;
    }
    .editar  h2 {
        text-shadow: 3px 2px 35px #ffffff;
        background-color: #000000d9;
        color: #dd55ff;
        height: 100px;
        padding-top: 4%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .editar .direct-lista{
        display: block;
    }
    .editar  section .mb-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000d1;
        margin: 5px;
        border: 2px solid  #dd55ff;
        ;
        height: 160px;
       
        padding: 5%;
    }
    .editar  section #descripcion{
        height: 210px;
        padding: 0%;
        width: 145%;
    }
    .editar  section #descripcion textarea{
        width: 68%;
        margin-top: 5px;
        padding: 4%;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #ffc9f3;
    }
    .editar  section .mb-3 input.form-control{
        width: 60vw;
        height: 30px;
        background-color: #ffc9f3
        

}
.editar  section .mb-3 select.form-select {
  background-color: #f8d3f0 ;
  width: 60vw;
  height: 30px;
}
.editar .direct-lista{
margin-top: 2%;
width: 28%;
margin-left: 4%;
}
.editar .direct-lista #boton{
    padding: 3px;
    background: black;
    color: #14d0ff;
    box-shadow: 2px 2px 4px #14d0ff;
    }
.editar .direct-lista-flecha{
    display: none;
}
.editar  section .caja1,.caja2,.caja3 {
width: 100%;

}
.editar  section .articulo1,.articulo2{
    width: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editar  section .articulo2{
    display: flex;
    flex-direction: column-reverse;
    
    

}
.editar  .section-imagenes {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
.editar .imagenes-sec {
    display: flex;
    flex-direction:row ;
}
.editar .secundarias {
    width: 51%;
    margin: 5px;
    padding: 3%;
    background-color: black;
    box-shadow: 5px 5px 10px #dd55ff;
}
.editar  section .mb-33 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
width: 100%;
justify-content: space-between;
}
.editar  section .botones {
    width: 100%;
    /* margin-top: 25px; */
    display: flex;
    justify-content: space-around;
    background-color: #000000d9;
    padding-right: 4%;
    padding-left: 4%;
    margin-bottom: 5%;
    border-top: 2px solid #00c3d7;
    border-bottom: 2px solid #00c3d7;
    padding-top: 3%;
    padding-bottom: 3%;
}
.editar  section .botones .btn.btn-primary {
    text-shadow: 2px 1px 3px #000000ad;
    border: 2px solid black;
    padding: 15px;
    color: white;
    border-radius: 10px;
   margin-bottom: 0px;
    
   
  margin-right: 0px;
    width: 80%;
    
}
.editar  section .botones .btn.btn-secundary {
   
    padding: 15px;
    
    border-radius: 10px;
  margin-bottom: 0px;
    width: 80%;
    
}

.editar  section .caja33 {
    width: 70%;
 
}
.editar .cajitas-imagenes{
    margin: 2%;
}
.editar  section .mb-33 label.form-label {
    width: 110%;
}
.editar .divisor-label{
    display: flex;
    flex-direction: row;
}
.editar .p-imagen {
    color: white;
    font-size: 15px;
    text-shadow: 4px 3px 10px black;
    /* width: 92%; */
    text-align: center;
}
.editar .secundarias2 {
    background-size: 27vw 19vh;
    background-position-x: 30%;
}

}

    @media (min-width: 791px){
        
        .editar  h2 {
            text-shadow: 2px 2px 7px rgb(255, 85, 241);
            background: #00000080;
            width: 56%;
            margin: 0%;
            display: flex;
            justify-content: center;
            margin-left: 22%;
            margin-bottom: 1%;
            margin-top: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 10px;
            box-shadow: 0px 0px 11px #dd55ff;
            height: 100%;
        }
        .editar  section .mb-3 input.form-control {
            width: 60vw;
            height: 30px;
            border: 3px solid black;
            
            border-radius: 5px;
        }
        .editar .direct-lista {
            margin-top: 2%;
        }
        .editar  section .mb-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #00000096;
            margin: 5px;
            width: 134%;
            border: 1px solid #14d0ff;
            border-radius: 10px;
        }
        .editar form {
            background-color: #000000bf;
            
            width: 95%;
            display: flex;
            flex-direction: column;
        }
        .editar  section .mb-3 label.form-label {
            width: 100%;
            border: 2px solid #dd55ff;
            border-radius: 16px;
            margin-top:5px ;
        }
        .editar  section .mb-3 select.form-select {
            width: 15vw;
            margin-top: 8px;
            border: 3px solid black;
           
            border-radius: 5px;
        }
        .editar  section .mb-3 input.form-control {
            width: 15vw;
            height: 38px;
            border: 3px solid black;
            
            border-radius: 5px;
            margin-top: 8px;
        }
        .editar .error {
            font-size: 86%;
        }
        .editar .secundarias {
            width: 40%;
            margin: 10px;
            padding: 1%;
            background-color: black;
            box-shadow: 5px 5px 10px  #dd55ff;
            ;
            
        }
        .editar  section .mb-33 {
            width: 80%;
        }
        .editar  section .articulo2{
            display: flex;
    flex-direction: column;
    width: 53%;
    margin-left: 4%;
          
        }
        .editar  section .articulo1{
            width: 90%;
            display: flex;
            flex-direction: row;
            padding-left: 1.5%;
        }
        .editar  section .caja3{
            display: flex;
            flex-direction: column;
            width: 70%;
           
        }
        .editar section .articulo2 {
            display: flex;
            flex-direction: column;
            width: 53%;
            margin-left: 4%;
        }
        .editar  section {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }
        .editar  section .caja1{
            margin-left: 6%;
            margin-right: 16%;
        }
        .editar  section #descripcion textarea {
            width: 78%;
            margin-left: 1%;
        }
        .editar  section #descripcion{
            padding: 1%;
           
            
            width: 68%;
            margin-top: 5px;
    
            border: 2px solid black;
            border-radius: 10px;
         background-color: #ffc9f3;
        }
        .editar  section #descripcion label.form-label {
            width: 90%;
    }
    .editar  .section-imagenes {
    margin-left: 0px;
    width: 90%;
    }
    .editar .imagenes-sec {
        width:65%;
    }
    .editar .imagenes-secc {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }
    .editar .cajita{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    .editar .divisor-label{
        width: 95%;
    }
    .editar .secundarias2 {
        background-size: 15vw 20vh;
        background-position-x: 30%;
    }
    .editar .secundarias2 {
        height: 190px;
    }
    .editar  section .botones {
       
        width: 100%;
    }
    
    .editar .p-imagen {
        font-size: 13px;
    }
    .editar #contenedores{
        margin-top: 3%;
    }
    .editar  section #desaparecer{
        display: none;
    }

    .editar  section #descripcion2{
        display: flex;
        justify-content: center;
        width: 70%;
        padding: 0%;
        height: 180px;
    }
    .editar .articulo22{
        width: 100%;
    }
    .editar section .caja33 {
        margin-left: 0px;
        width: 100%;
    }
    .editar section .caja33 .label-descripcion{
        width: 80%;
        border: 2px solid #dd55ff;
        display: flex;
        flex-direction: column;
        padding: 7px;
        width: 70%;
        font-size: 25px;
        text-shadow: 2px 2px 7px #14d0ff;
        color: #14d0ff;
        background-color: black;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
        box-shadow: 4px 2px 2px #14d0ff;
       
        border-radius: 16px;
    }
    .editar #descripcion22{
        margin-top: 5px;
        padding: 1%;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #ffc9f3;
        width: 80%;
        height: 100px;
    margin-left: 10%;
        
    }
    .editar section .botones {
        padding: 2%;
        margin-top: 4%;
    }
    
    
    .a {display: flex;
    flex-wrap: wrap;}

}
@media (min-width: 1000px){
.editar #imagenError,#imagenError2,#imagenError3,#imagenError4 {
    font-size: 110%;
} }
