footer{
    background-color: black;
    background-size: cover;
}

footer .logo-footer{
    display: flex;
    justify-content: center;
}

footer img{
    width: 200px;
    padding: 20px;
    margin-bottom: 45px;
    display: flex;
}

footer .info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer .info h2{
    font-family: var(--fuenteGral);
    color: rebeccapurple;
    text-align: start;
}

footer .ubicacion .mapa{
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    justify-content: space-around;
    display: none;
}

footer .ubicacion .mapa iframe{
    border: 0;
    width: 100%;
    padding: 20px;
}
footer h2{
    font-family: var(--fuenteGral);
    color: rebeccapurple;
    text-align: center;
    margin: 20px 0;
}
footer .Redes-sociales{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .Redes-sociales ul{
    font-family: var(--fuenteGral);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}
footer .info ul li{
    text-align: center;
    margin-bottom: 20px;
}

footer .Redes-sociales ul li a{
    font-size: 45px;
}




@media (min-width: 461px){
    footer .ubicacion .mapa{
        display: flex;
        width: 100%;
        height: 300px;
        margin-top: 50px;
        justify-content: space-around;
        display: block;
    }
}

@media (min-width: 1055px){

    footer{
        background-color: black;
        background-size: cover;
    }

    footer .info{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    footer .ubicacion .mapa{
        display: flex;
        width: 100%;
        height: 300px;
        margin-top: -190px;
        justify-content: space-around;
    }
    
    footer .ubicacion .mapa iframe{
        border: 0;
        width: 40%;
        padding: 20px;
    }
    footer .info ul{
        font-family: var(--fuenteGral);
        padding-right: 25px;
        padding-left: 5px;
    }
    footer .info ul:nth-last-child(1){
        margin-left: 33rem;
    }

    footer .Redes-sociales{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    footer .Redes-sociales ul{
        font-family: var(--fuenteGral);
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 25px;
    }
    footer .info ul li{
        text-align: center;
    }
    
    footer .Redes-sociales ul li a{
        font-size: 45px;
        transition: .5s;
    }
    
    footer .Redes-sociales ul li a::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgb(149, 38, 161);
        transition: .5s;
        transform: scale(.9);
      }
      
      footer .Redes-sociales ul li a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #10b7ff;
      }
      
      footer .Redes-sociales ul li a:hover {
        color: rgb(149, 38, 161);/* 
        box-shadow: 0 0 5px #10ddff; */
        text-shadow: 0 0 10px #10d7ff;
      }
    
    
      

}