*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: var(--fuenteGral);
    
}
body::-webkit-scrollbar{
    display: none;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

