header{
    background-color: black;
    width:  100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .navegacion {
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:  100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
header .navegacion .logo{
    display: flex;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    width: 100px;
}
header .navegacion label.burguer i{
    width: 2vw;
    color: #8d1888;
    font-size: 20px;
    margin-top: 20px;
    padding: 0 20px;
}
header .navegacion input{
    display: none;
}
header .navegacion input:checked ~ nav.opcionesDePerfil-Movil {
    display: block;
    z-index: 3;
}

header .navegacion .busqueda .form-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

header .navegacion .busqueda {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    margin-top: 30px;
    padding-left: 10vw;
}

header .navegacion .busqueda input{
    display: flex;
    font-size: 15px;
    text-align: center;
    width: 70vw;
    height: 20px;
    border: none;
    border-radius: 15px;
}
header .navegacion .busqueda button{
    background: none;
    border: none;
}


header .navegacion .busqueda i.fas.fa-search{
    display: flex;
    color: #8d1888;
    font-size: 20px;
    margin: 3px 10px 0 5px;
    padding: 0 5px;
}
header .navegacion nav.opcionesDePerfil-Movil{
    display: none;
    align-items: center;
    margin-top: 60px;
    position: absolute;
    left: 0;
}

header .navegacion nav.opcionesDePerfil-Movil ul{
    position: absolute;
    display: flex;
    background-color: #8d1888;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    top: 40px;
    height: 55vh;
}
header .navegacion nav.opcionesDePerfil-Movil ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: black;
    height: 50px;
}
header .navegacion nav.opcionesDePerfil-Movil ul li a{
    color: white;
    font-size: 20px;
}

header .navegacion nav.opcionesDePerfil-Movil form.exit{
    display: contents;
}

header .navegacion nav.opcionesDePerfil-Movil button.logout{
    background: black;
    color: #dbdbdb;
    font-size: 20px;
    padding: 15px 12px;
    border: none;
}

header .navegacion .carrito1 i.fas.fa-shopping-cart{
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 0 10px;
}
header .navegacion .usuario i.fas.fa-user-circle{
    display: none;
}
header .navegacion label.perfil{
    display: none;
}
header .navegacion nav.opcionesDePerfil{
    display: none;
}
header .opcionesDeProductos{
    display: none;
}
header .navegacion div.usuario{
    display: none;
}


/*Tablet*/

@media (min-width: 461px){
    header{
        background-color: black;
        width:  100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header .navegacion {
        background-color: rgb(0, 0, 0);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width:  100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
    }
    header section{
        width:  100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .navegacion label.burguer{
        position: absolute;
        z-index: 3;
        left: 0px;
    }
    header .navegacion label.burguer i{
        width: 2vw;
        color: #8d1888;
        font-size: 20px;
        margin-top: 20px;
        padding-left: 25px;
    }

    header .navegacion .logo{
        display: flex;
        justify-content: center;
        width: 100px;
    }

    header .navegacion img{
        display: block;
        width: 100px;
        padding-right: 3px;
    }

    header .navegacion .busqueda .form-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    header .navegacion .busqueda {
        position: absolute;
        top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 100vw;
        margin-top: 30px;
        padding-left: 10vw;
    }
    header .navegacion .busqueda .form-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
    

    header .navegacion .busqueda input{
        display: flex;
        font-size: 15px;
        text-align: center;
        width: 70vw;
        height: 20px;
        border: none;
        border-radius: 15px;
    }
    header .navegacion .busqueda button{
        background: none;
        border: none;
    }
    
    
    header .navegacion .busqueda i.fas.fa-search{
        display: flex;
        color: #8d1888;
        font-size: 20px;
        margin: 3px 10px 0 5px;
        padding: 0 5px;
    }

    header .navegacion .carrito1{
        position: absolute;
        right: 9px;
        top: 10px;
    }

    header .navegacion .carrito1 i.fas.fa-shopping-cart{
        color: #ffffff;
        font-size: 20px;
        margin-top: 20px;
        padding: 0 10px;
    }
    header .navegacion label.perfil{
        display: none;
    }
}


/*Desktop*/
@media (min-width: 870px) {
    header{
        background-color: black;
        width:  100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header .navegacion {
        background-color: rgb(0, 0, 0);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width:  100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    header .navegacion .logo{
        display: flex;
        justify-content: center;
        width: 9vw;
        margin-top: 40px;
    }

    header section{
        background-color: black;
        width:  50%;
        height: 60px;
        display: flex;
        justify-content: space-around;
    }

    header .navegacion .burguer{
        display: none;
    }
    header img{
        display: block;
        width: 110px;
        padding: 0 10px;
    }
    header .navegacion nav{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35vw;
        margin-top: 0;
        position: inherit;
    }
    header .navegacion .busqueda {
        display: flex;
        position: unset;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 64vw;
        padding-left: 0px;
        margin-left: 0px;
    }
    header .navegacion .busqueda .form-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: -20px;
    }
    header .navegacion .busqueda input{
        display: flex;
        font-size: 15px;
        text-align: center;
        width: 58vw;
        height: 30px;
        border-radius: 15px;
        margin-top: 5px;
        border: none;
    }
    

    header .navegacion nav.opcionesDePerfil{
        display: none;
    }
    header .opcionesDeProductos{
        display: flex;
        width: 60vw;
        height: 25px;
        margin-bottom: 5px;
        justify-content: space-around;
        align-items: center;
    }
    header .opcionesDeProductos a{
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 10px 0;
        padding: 7px 8px;
        text-decoration: none;
        color: #f8f4f4;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        transition: 0.5s;
        z-index: 1;
    }
    
    header .opcionesDeProductos a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 29px;
        border-top: 2px solid #8d1888;
        border-bottom: 2px solid #8d1888;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
      }
    header .opcionesDeProductos a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        background-color: #8d1888;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }
    header .opcionesDeProductos a:hover {
        color: #fff;
    }
    header .opcionesDeProductos a:hover:before {
          transform: scaleY(1);
          opacity: 1;
        }
    header .opcionesDeProductos a:hover:after {
          transform: scaleY(1);
          opacity: 1;
        }

    header .navegacion nav ul{
        display: flex;
        background-color: black;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 30vw;
        height: 50vh;
        height: auto;
        color: white;
    }
    header .navegacion nav ul li{
        display: flex;
        height: 45px;
    }

    header .navegacion nav ul .movil-tablet{
        display: none;
    }

    header .navegacion nav ul li a{
        color: white;
        font-size: 18px;
        padding-right: 30px;
    }
    header .navegacion .burguer{
         display: none;
    }

    header .navegacion .carrito1{
        position: absolute;
        right: 100px;
        top: 20px;
    }

    header .navegacion .carrito1 i.fas.fa-shopping-cart{
        color: #ffffff;
        font-size: 20px;
        margin-top: 7px;
        padding: 0 10px;
    }
    header .navegacion .usuario i.fas.fa-user-circle{
        display: block;
        color: #fbfbfb;
        font-size: 20px;
        margin-top: -8px;
        padding: 1px 10px;
        text-align: center;
    }
    
   header .navegacion .btn-neon{
        position: relative;
        display: inline-block;
        padding: 15px 12px;
        transition: 0.2s;
        border-radius: 10%;
        font-size: 20px;
    }

    header .navegacion label.perfilU{
        position: relative;
        display: inline-block;
        padding: 5px 0px 5px 0px;
        transition: 0.2s;
        border-radius: 10%;
        top: 18px;
    }
    header .navegacion label.sinLog{
        display: block;
        color: #fbfbfb;
        padding: 17px 9px 8px 11px;
        border-radius: 10%;
        margin-top: 40px;
    }

    header .navegacion label.sinLog h2{
        font-size: 15px;
        color: white;
    }

    header .navegacion nav.opcionesDePerfil button.logout:hover,
    header .navegacion label.sinLog:hover,
    header .navegacion label.perfil:hover,
    header .navegacion .btn-neon:hover,
    header .opcionesDeProductos .btn-neon:hover{
        background: #8d1888;
    }

    /*usuario*/

    header .navegacion div.usuario{
        display: block;
        width: 75px;
        margin-right: 20px;
    }

    header .navegacion label.perfil i.fas .fa-user-circle{
        width: 2vw;
        color: #8d1888;
        font-size: 20px;
        margin-top: 20px;
        padding: 0 20px;
    }
    header .navegacion label.perfilU h2{
        font-size: 14px;
        color: white;
    }
    header .navegacion label.perfilU img {
        width: 85px;
        margin-left: 4px;
        height: 35px;
        color: #8d1888;
        margin-top: -12px;
        padding: 0 20px;
        border-radius: 50%;
    }
    header .navegacion input#perfil{
        display: none;
    }
    header .navegacion input#perfil:checked ~ nav.opcionesDePerfil {
        display: flex;
        position: absolute;
        top: 100px;
        z-index: 3;
    }

    header .navegacion nav.opcionesDePerfil{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 15vw;
        left: 85vw;
        position: inherit;
    }
    
    header .navegacion nav.opcionesDePerfil{
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
    }

    header .navegacion nav.opcionesDePerfil ul{
        display: flex;
        background-color: #000000;
        flex-direction: column;
        justify-content: space-evenly;
        width: 15vw;
        height: 45vh;
    }
    header .navegacion nav.opcionesDePerfil ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: black;
        height: 50px;
    }
    header .navegacion nav.opcionesDePerfil ul li a{
        color: white;
        font-size: 20px;
    }
    header .navegacion nav.opcionesDePerfil form.exit{
        display: contents;
    }

    header .navegacion nav.opcionesDePerfil button.logout{
        background: none;
        color: white;
        font-size: 18px;
        padding: 15px 12px;
        border: none;
        border-radius: 10%;
    }

}