.lista main{
    width: 98vw;
    margin-bottom: 50px;
} 

.lista h1{
    text-align: center;
}

.lista li a{
    color: white;
}

.lista .table-responsive{
    width: 80vw;
    margin-left: 10vw;
    border: 2px solid black;
    margin-top: 15px;
}

.lista .direct-crear{
    width: 80vw;
    margin-left: 10vw;
}

.lista .direct-papelera{
    width: 80vw;
    margin-left: 2vw;
}

.lista .table.table-hover{
    width: 100%;
}

.lista .table.table-hover tbody{
    text-align: center;
}



.lista a{
    color: black;
}

.lista .edicion{
    display: flex;
    justify-content: center
}

.lista .usuario{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}