/* Mobile y tablet */
.login{
    background-image:url(/images/FondoMovil.jpg) ;
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 100% 100%;
    background-color: black;
    font-family: var(--fuenteGral);
}

.login::-webkit-scrollbar{
    display: none;
}
.login h1{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 3%;
    background: #000000cf;
    color: #e38cd8;
    text-shadow: 2px 2px 7px #ff00de;
    padding: 3%;
}

.login .logo-login{
    text-align: center;
}

.login  .video-promo{
    display: none;
}

.login .logo-login img{
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.login {
 
}


.login  h3{
    /* color: var(--colorNegro); */
    text-align: center;
    margin-top: 1px;
    margin-bottom: 3%;
    background: #000000cf;
  
    color: #e38cd8;
    text-shadow: 2px 2px 7px #ff00de;
    padding: 3%;
 
}
.login  h4{
    /* color: var(--colorNegro); */
    text-align: center;
    margin-top: 1px;
    margin-bottom: 3%;
    background: #000000cf;
  
    color: #e38cd8;
    text-shadow: 2px 2px 7px #ff00de;
    padding: 3%;
 
}

.login  button{
    text-align: center;
    padding-bottom: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    width: 70%;
    margin-left: 15.5%;
    font-family: var(--fuenteGral);
   /* background-color: aqua; */
}

.login  .face{
    background-color: var(--colorVioleta);
    color:var(--colorBlanco);  
    
}

.login  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 10px;
   background-color: #1c1c1ccf;
   padding-bottom: 6%;
   width: 85%;
}
.login #formularioLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.login  .container label{
    text-align: center;
    width: 100%;
   
       
       color: #e38cd8;
       text-shadow: 2px 2px 2px #ff00de;
       padding: 3%;
    
}

.login  .container input{
    width: 70%;
    margin-left: 15%;
}

.login  .container small{
    margin-left: 7vw;
    font-size: 15px;
}


.login  .mostrar{
    text-align: center;
    font-size: 15px;
    color: var(--colorBlanco);    
}

.login  .mostrar a{
    margin-left: 100px;
    color: var(--colorBlanco);
}

.login  .inicio{
    background-color: #00d0ff;
    color: var(--colorBlanco);
    padding: 2%;
    text-shadow: 1px 1px 4px black;
    box-shadow: 2px 2px 2px #40878b;
    
}

.login h3{
        margin-left: 15px;
    border: 1px solid red;
    padding: 2%;
    border-radius: 10px;
}

.login h3 a{
    color: var(--colorRojo);
    margin-left: 15px;
}
.login .iniciar{
    width: 100%;
}

.login  .foot-log{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background: #1c1c1ccf;
    /* padding-bottom: 10%; */
    padding: 7%;
}
.login .fin-login{
    color: #e38cd8;
       text-shadow: 2px 2px 2px #ff00de;
}

/* Tablet */

@media(min-width:769px){

    .login{
        background-image: none;
    }
.login .inicio{
width: 200%;
padding: 4%;
}
    
    .login .logo-login img{
        width: 20%;
    }

    .login  .cont-form{
        position: relative;
        z-index: 1;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 25%;
        background-color: #343434c4;
        margin-top: 3%;
        border-radius: 10px;
        border: 1px solid black;
    }
    .login .container {
        background-color: black;
        border: #ff00de 1px solid;
        box-shadow: 2px 1px 8px #ff6fec ;
    }
    
    .login .foot-log {
        margin-left: 0px;
        padding: 2%;
    margin-bottom: 1%;

    }

    .login {
        width: 100vw;
        margin: 0 1.5px;
        padding-bottom: 50px;
    }

    .login  h1{
        color: var(--colorBlanco);
        background-color: black;
        width: 100%;
        border-bottom: 1px solid #ff00de;
        border-top: 1px solid #ff00de;
    }
    .login  h4{
        color: var(--colorBlanco);
        background-color: black;
        width: 100%;
        border-bottom: 1px solid #ff00de;
        border-top: 1px solid #ff00de;
    }

    .login  .container label{
        color: var(--colorBlanco);
    }
    .login h3 a {
        color: #20f3fd;
    }


    .login .container{
        width: 200%;
    }
    .login button {
        margin-left: 0px;
        
    }
    .login .iniciar {
        width: 100%;
        text-align: center;
        margin-right: 92%;
    }
}



@media(min-width:1490px){

.login  .video-promo{
    display: block;
width: 100vw;
position: absolute;
top: 0%;
}

.login  .video-promo video{
    width: 100vw ;
    height: max-content ;
}
.login .foot-log {
    padding: 2%;
}
.login h4{
    padding: 1%;
}
}
