/* M A I N */
.carrito {
    background-image:url(/images/fondo-carrito.jpg); 
    background-repeat: no-repeat;
    background-size: 100vw;
}
.carrito h1{
    color: rgb(255 255 255);
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    background-color: #c51dbe;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.carrito .sin-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 10%;
    border: 2px solid rgba(212, 0, 255, 0.664) ;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
    border-radius: 16px;
    
}
.carrito .sin-stock img{
    width: 20%;

}
.carrito .caja-guitarra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrito .caja-guitarra p{
    display: block;
    color: #000000;
    height: 1%;
    width: 70%;
    font-size: 24px;
    margin-bottom: 5%;
    border: solid 2px black;
    border-radius: 16px;
}

.carrito section div article .primerprecio{
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-top: 130%;
    }
    .carrito section div article .contador{
        font-size: 24px;
        background-color:#5b5b5bbd;   
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    .carrito section div article .contador .restar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carrito section div article .contador .sumar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.carrito .primer-descuento{
    background-color: #c51dbe;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 10px;
    padding: 2px;
    margin-top: 130%;
}
.carrito .precio{
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    border: #c51dbe solid 4px;
    border-radius: 10px;
    padding: 4px;
    margin-top: 130%;
}
.carrito .precio-final{
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    border: #c51dbe solid 4px;
    border-radius: 10px;
    padding: 4px;
    
}
.carrito .precio-descuento{
    height: 100%;
}
.carrito .caja-principal-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.carrito .caja-secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.carrito .caja-secundaria h2{
color: #ffffff;
background-color: #000000;
border: #ffffff solid 2px;
border-radius: 10px;
padding: 5px;
}
.carrito .caja-guitarra h2{
    color: #ffffff;
    background-color: #000000;
    border: #ffffff solid 2px;
    border-radius: 10px;
    padding: 5px;
}
.carrito .precio-descuento h2{
        color: #ffffff;
        background-color: #000000;
        border: #ffffff solid 2px;
        border-radius: 10px;
        padding: 5px;
        }

.carrito section .cuenta{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d7bfdb;
    border: 3px solid #050404a4;
    margin-top: 10%;
    padding: 4px;
}

.carrito section h2{
    color: #000000;
}

.carrito section div ul li{
    color: #000000;
}
/* IMAGENES */

.carrito section div article {
    background-color:#5b5b5bbd;
    border: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
}

.carrito section .caja-carrito{
    display: flex;
    justify-content: center;
    width: 100%;
}
.carrito section .descripcion{
    display: none;
}



.carrito section div article div .guitarra{
    width: 15vw;
   height: 220px;
    margin: 20px -12px 20px 10px;
    border: solid 3px black;
    border-radius: 16px;
}
.carrito section div article .bateria{
    width: 25vw;
    height: 100px;
    margin: 20px -12px 20px 10px;
}



.carrito section div .cant-precios{
    width: 280px;
    padding-left: 38px;
}


.carrito section div p {
    display: none;
    font-size: 10px;
}

.carrito section div article span{
    width: 165px;
    font-size: 15px;

}
.carrito section div article .sumar,
.carrito section div article .restar{
    background-color: #c51dbe;
    color: white;
    width: 20px;
    height: 25px;
    border-radius: 25%;
}

.carrito section div article input{
    width: 25px;
    height: 25px;
}
.carrito section .cuenta .total{
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 24px;
   
    text-align: center;
}

.carrito section.botones{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carrito section .cuenta .precio1{
    
    text-align: center;
    font-size: 24px;
    margin-left: 228px;
    padding-top: 13px;

} 
.carrito section .cuenta .precio2{
    text-align: center;
    font-size: 24px;
    margin-left: 222px;
    padding-top: 63px;
}
.carrito section div .comprar{
    color: white;
    background-color: black;
    height: 41px;
    width: 50vw;
    margin-left: 25vw;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
}

.carrito section div .mas{
    background-color: #2d5a2d;
    font-size: 11px;
    font-weight: 900;
    border-radius: 6px;
    width: 50vw;
    margin-left: 25vw;
    color: white;
    height: 41px;
    margin-top: 33px;
    margin-bottom: 10px;

}
@media (min-width: 325px) {
    .carrito {
        background-image:url(/images/fondo-carrito2.jpg); 
        background-repeat: no-repeat;
        background-size: 100vw;
    }
    
    .carrito section div .cantidad_2{
        display: flex;
    }
    .carrito section div .comprar {
        color: white;
        background-color: black;
        height: 41px;
        width: 50vw;
        margin-left: 25vw;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 900;
        margin-top: 20px;
    }
    .carrito section div article{
        display: flex;
        flex-direction: column;
        width: 90%;

    }
    .carrito section div article .primerprecio,.primer-descuento{
        margin-top: 10px;
    }
    .carrito section div article .primer-descuento{
        margin-top: 2px;
    }
    .carrito section div article div .guitarra{
       width: 70%;
    height: 50%;
    }
    .carrito .caja-guitarra{
        height: 60%;
    }
    .carrito .caja-guitarra p{
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        height: 12%;
    }
    .carrito .caja-secundaria{
        display: flex;
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito .caja-secundaria#contador{
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-bottom: 25px;
    }
    .carrito .caja-secundaria h2#cantidad{
      display: none;
    }
    .carrito .precio{
        margin-top: 1px;
    }
    .carrito .caja-secundaria h2{
        font-size: 16px;
        margin: 5px;
    }
    .carrito section div article .primer-descuento{
        font-size: 24px;
    }
    .carrito .caja-carrito2{
        display: none;
       }
   
    }
   
    

/* T A B L E T */
@media (min-width: 461px){
    .carrito {
        background-image:url(/images/fondo-carrito.jpg); 
        background-repeat: no-repeat;
        background-size: 100vw;
    }

   .carrito section .caja-carrito{
    display: none;
}

   .carrito .caja-carrito2{
    display: flex;
    justify-content: center;
   }
   .carrito .caja-carrito2 article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
   }
   .carrito .caja-carrito2 article .caja-guitarra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    width: 50%;
   }
   .carrito .caja-carrito2 article .caja-secundaria{
    width: 50%;
   }
   .carrito .caja-carrito2 article .caja-guitarra p{
    font-size: 100%;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
   }
   
        
    }

    
     
/* DESKTOP */
@media (min-width: 925px) {

    .carrito article{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    
    .carrito .all-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(112, 128, 144, 0.505);
        
    }

    .carrito img.prodEnCarrito{
        width: 150px;
        height: 150px;
    }
    .carrito .Numeros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carrito .caja-secundaria h2#cantidad{
        display: block;
      }
    .carrito .caja-carrito2{
        display: none;
       }
.carrito section div article span.segundoprecio{
    font-size: 24px;
    margin-right: 19px;
    }

   
    .carrito section .caja-carrito{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .carrito .caja-guitarra{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 20%;
    }
    

.carrito section  .cantidad div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    background-color:#5b5b5bbd ;
    
    
    }
    .carrito section  .cantidad{
        display: flex;
        flex-direction: column;
        
        
        height: 100%;
    }
    .carrito section div .cantidad .sumar{
        width: 40%;
    }
    .carrito section div .cantidad .restar{
        width: 40%;
    }
    .carrito section div .cantidad .numero{
        width: 40%;
    }


.carrito section div .cantidad_2{
    background-color: #ffffff;
    margin-left: -3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 15rem;
    }

    .carrito section div article{
        background-color: #5b5b5bd5;
        border: 3px solid black;
        
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        padding-top: 5px;
    }
    
    .carrito section div article .primerprecio{
        font-size: 24px;
        background-color: #ffffff;
        color: #000000;
        border: 2px solid black;
        border-radius: 10px;
        padding: 2px;
        margin-top: 50%;
        }
        .carrito section div article .contador{
            font-size: 24px;
            background-color: #5b5b5bbd;
            color: #000000;
            padding: 2px;
            margin-top: 57%;
            }

    .carrito section div article section{
        width: 6vw;
    }

    .carrito section div article section div .guitarra{
        width: 15vw;
        height: 220px;
         margin: 20px -12px 20px 10px;
         border: solid 3px black;
         border-radius: 16px;
       
    }
    .carrito .comprar:hover{
        transform: scale(1.4);
    }
    .carrito section div article section .bateria{
        width: 15vw;
        height: 100px;
        margin: 20px -12px 20px 10px;
    }
    .carrito .caja-principal-carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .carrito section .caja-carrito{
        display: flex;
        justify-content: center;
        
    }
   
    .carrito .caja-guitarra p{
        display: block;
        color: #000000;
        background-color: #ffffff;
        height: 30%;
        width: 70%;
        font-size: 24px;
        margin-bottom: 5%;
        border: solid 2px black;
        border-radius: 16px;
    }
    .carrito .caja-guitarra h2{
        color: #ffffff;
        background-color: #000000;
        border: #ffffff solid 2px;
        border-radius: 10px;
        padding: 5px;
    }
    
.carrito section div article div .guitarra{
    width: 15vw;
   height: 220px;
    margin: 20px -12px 20px 10px;
    border: solid 3px black;
    border-radius: 16px;
}
.carrito .caja-secundaria{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 20%;
}
.carrito .caja-secundaria h2{
color: #ffffff;
background-color: #000000;
border: #ffffff solid 2px;
border-radius: 10px;
padding: 5px;
font-size: 24px;
}

    .carrito section div article .contador{
        font-size: 24px;
        background-color:#5b5b5bbd;   
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    .carrito section div article .primer-descuento{
        background-color: #c51dbe;
        color: #ffffff;
        border: solid 2px #ffffff;
        border-radius: 10px;
        padding: 2px;
        margin-top: 50%;
    }
    .carrito .precio{
        font-size: 24px;
        background-color: #ffffff;
        color: #000000;
        border: #c51dbe solid 4px;
        border-radius: 10px;
        padding: 4px;
        margin-top: 50%;
    }
}
/* @media (min-width: 1443px) {
.carrito section div article span.primerprecio {
    width: 214px;
    font-size: 24px;
    margin-left: 2rem;
    }
} */