.perfil{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil .video-promo video{
    display: none;
}

.perfil .credencial{
    display: flex;
    background: linear-gradient(#6487e6, #9437b1);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 6px solid black;
    box-shadow: 0 0 15px rgb(0 0 0 / 95%);
    width: 252px;
    height: 500px;
    margin-top: 20px;
    border-radius: 10%;
}

.perfil .edit-delete-logout{
    position: relative;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.perfil button{
    width: 130px;
    font-family: var(--fuenteGral);
    height: 50px;
}
.perfil .credencial img{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10%;
}

.perfil .credencial h2{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    
}

.perfil .credencial .logo img{
    width: 75px;
    height: 65px;
}

@media(min-width:800px){
    
    .perfil{
       position: relative;
    }

    .perfil .video-promo video{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .perfil .edit-delete-logout{
        position: relative;
        z-index: 1;
        top: 20px;
        background: none;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .perfil .card{
        position: relative;
        width: 252px;
        height: 500px;
    }
    
    .perfil .credencial{
        /* display: flex; */
        position: absolute;
        z-index: 3;
        width: 310px;
        height: 450px;
        backface-visibility: hidden;
        border-radius: 10%;
        overflow: hidden;
        background: linear-gradient(#6487e6, #9437b1);
        /* flex-direction: column;
        justify-content: space-around;
        align-items: center; */
        border: 6px solid black;
        box-shadow: 0 0 20px rgb(0 0 0 / 95%);
        margin-top: 20px;
        transition: .5s;
        transform: perspective(600px) rotateY(0deg);
    }

    .perfil a button{
        font-family: var(--fuenteGral);
        height: 50px;
    }
    
    .perfil .credencial img{
        width: 200px;
        height: 150px;
        margin-top: 20px;
        border-radius: 10%;
    }

    .perfil .backCredencial{
        display: flex;
        transform: perspective(600px) rotateY(180deg);
        background: linear-gradient(#6487e6, #9437b1);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 6px solid black;
        box-shadow: 0 0 20px rgb(0 0 0 / 95%);
        width: 310px;
        height: 450px;
        top: 20px;
        border-radius: 5%;
    }

    .card:active .credencial{
        transform: perspective(600px) rotateY(180deg);
    }
    .card:active .backCredencial{
        transform: perspective(600px) rotateY(360deg);
    }
    
    .perfil footer{
        margin-top: 0;
    }
    
}
