<!DOCTYPE html>
<html lang="es">
<%- include ("../partials/head",{title: "Tu carrito" }) %>
    </head>

    <body >
        <%- include ("../partials/header") %>
            <!--  M A I N  -->
            <main class="carrito" >
                <h1>Carrito de compras</h1>
                <section class="all-cart">
                    <section id="secCarrito">
                        
                    </section>
                        <section class="Numeros" id="Numeros">
        
                        <form action="" method="post">
                            <div class="subtotal">
                                <h3>Subtotal</h3>
                                <span id="subtotal"></span>
                            </div>
            
                            <div class="total">
                                <h3>Total</h3>
                                <span id="total"></span>
                            </div>
                            
                            <div class="ofertas">
                                <input type="checkbox" name="ofertas" id="ofertas">
                                <label for="ofertas">Desea recibir nuestras proximas ofertas?</label>
                            </div>
                            <div class="botones">
                                <button type="submit">Finalizar Compra</button>
                                <a href="">Continuar comprando</a>
                            </div>
                        </form>
                        </section>
                </section>
            </main>
            <!--  F O O T E R  -->

            <%- include ("../partials/footer") %>
            <script src="/javascript/carrito.js"></script>
        </body>

        

        </html>