<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head",{title: "categorias"}) %>
  <body>
    <%- include ("../partials/header") %>
    <main class="categorias">
      <h1><%= categorias.nombre %></h1>
    </main>
    <%- include ("../partials/footer") %> 
  </body>
</html>
