<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head",{title: "Detalle de producto"}) %>
  <body class="detalle">
    <%- include ("../partials/header") %>
    <main>

        <h1>Categorias papu</h1>

    </main>
    <%- include ("../partials/footer") %> 
  </body>
</html>
