<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'About Us'}) %>

  <body>
        <%- include('./partials/header') %>
        <main class="aboutSound">
            <h1>Somos SoundSurge</h1>
            <section>
                <p>SoundSurge fue fundada en 2022 con un objetivo en mente: poner los medios necesarios para producir música al alcance de la mano de los músicos. Desde el primer día que escuchamos a nuestros clientes sobre sus necesidades, sus deseos y sus sueños, y con esa información estuvimos proveyéndonos de productos que nunca habían llegado a nuestro mercado local.
                    Los tiempos cambian, y los músicos también, así que constantemente debemos estar allí con los últimos avances de la tecnología en instrumentos y dispositivos de sonido. SoundSurge quiere darte las herramientas que necesitas para llevar la música que tienes dentro de tu cabeza a nuestros oídos. 
                     </p>
                
                <div class="card-lean">
                    <video muted autoplay ><source src="videos/PresentacionLean.mp4" type="video/mp4"></video>
                    <h2>About Leandro</h2>
                    <p>
                        Leadro Rios <br>
                        Edad: 29 Años <br>
                        Localidad: San Miguel <br>
                        Talento: Cantante, Guitarrista, FullStack Developer
                    </p>
                </div>

                <div class="card-lucas">
                    <video muted autoplay ><source src="videos/PresentacionLucas.mp4" type="video/mp4"></video>
                    <h2>About Lucas</h2>
                    <p>
                        Nombre: Lucas Cordoba <br>
                        Edad: 24 Años <br>
                        Localidad: Lanus <br>
                        Talento: Bailarin(Popping), FullStack Developer

                    </p>
                </div>

            </section>
        </main>
        <%- include('./partials/footer') %>
    
    </body>
</html>