<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'About Us'}) %>

  <body>
        <%- include('./partials/header') %>
        <main class="aboutSound">
            <h1>Somos SoundSurge</h1>
            <section>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ut, adipisci deserunt enim quis repudiandae qui tenetur suscipit, animi ex, culpa blanditiis laudantium! Vel, delectus odit! Ipsa molestiae maiores laboriosam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt nulla, nam dolorum nisi voluptatem omnis sed hic ducimus pariatur, excepturi, fuga repellendus asperiores eaque? Laudantium non perspiciatis magnam eligendi.</p>
                <div class="card-lean">
                    <video muted autoplay ><source src="videos/PresentacionLean.mp4" type="video/mp4"></video>
                    <h2>About Leandro</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste et totam saepe, molestiae eos praesentium officia, quasi voluptas ipsa fugiat repellendus veniam aspernatur culpa corporis voluptates veritatis in consequatur dolor!</p>
                </div>
                <div class="card-lucas">
                    <img src="images/DcPro02.jpg" alt="">
                    <h2>About Lucas</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nostrum deserunt dolorum dignissimos iusto, iure sit autem beatae voluptatibus enim tempora cum fugiat quibusdam distinctio nisi. Labore blanditiis similique obcaecati.</p>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>
    
    </body>
</html>