<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Surge</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/256e07d023.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="carrito">
    <header>
        <section class="navegacion">
            <input type="checkbox" name="burguer" id="burguer">
            <label class="burguer" for="burguer"><i class="fas fa-bars"></i></label>
            <nav>
                <ul>
                    <li><a class="btn-neon" href="#">Categorias</a></li>
                    <li><a class="btn-neon" href="#">Marcas</a></li> 
                    <li><a class="btn-neon" href="#">Lo + vendido</a></li> 
                </ul>
            </nav>
            <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
            <div class="busqueda">
                <input id="icons-search" name="icons-search" type="text" placeholder="¿Que estas Buscando?"><i class="fas fa-search"></i>
            </div>
            <div class="carro">
                <a href="/carrito.html" target="_blank" class="btn-neon"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="usuario">
                <input type="checkbox" name="perfil" id="perfil">
                <label class="perfil" for="perfil"><i class="fas fa-user-circle"></i></label>
                <nav class="opcionesDePerfil">
                    <ul>
                        <li><a class="btn-neon" href="#">login</a></li>
                        <li><a class="btn-neon" href="#">register</a></li> 
                        <li><a class="btn-neon" href="#">settings</a></li> 
                        <li><a class="btn-neon" href="#">sign out</a></li> 
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    </header>
                                                <!--  M A I N  -->
    <main>
        <section>
            <h1>Mi carrito</h1>
        </section>
            <!-- Producto, precio, etc -->
        <section>
                <ul class="boleta">
                    <li>PRODUCTO</li>
                    <li>PRECIO</li>
                    <li>CANTIDAD</li>
                    <li>TOTAL</li>
                </ul>
        </section>
            <!-- Productos -->
        <section>
                <div>
                    <article>
                        <img class="guitarra" src="/images/Guitarra.png" alt="imagen guitarra">
                        <p class="description">Guitarra Fender Deluxe Sound suministrados y entregados por Sound Surge</p>
                        <span class="primerprecio">$ 25000</span>
                    <div class="cantidad">
                        <button class="restar">-</button>
                       <input type="number">
                        <button class="sumar">+</button>
                    </div>
                        <span class="segundoprecio">$ 25000</span>
                    </article>
                    <article>
                    <section>
                        <img class="bateria" src="/images/Bateria.jpg" alt="imagen bateria">
                    </section>
                    <p class="description">Bateria Yamaha Rydeen 5 cuerpos YAMAHA suministrados y entregados por Sound Surge</p>
                    <span class="tercerprecio">$ 25000</span>
                    <div class="cantidad_2">
                        <button class="restar">-</button>
                        <input type="number">
                        <button class="sumar">+</button>
                    </div>
                        <span class="cuartoprecio">$ 25000</span>
                    </article>
                </div>
         </section>
            <!-- Recuadro verde con texto -->
            <section>
                <p>Entrega: 
                    Vea todas las opciones de envio para sus productos, incluyendo los plazos y los precios de envio.</p>
            </section>
            <!-- Subtotal, Total -->
            <section>
                <ul class="cuenta">
                    <li class="subtotal">Subtotal</li>
                    <li class="total">Total</li>
                    <li class="precio1">$50000</li>
                    <li class="precio2">$50000</li>
                </ul>
            </section>
            <!-- Boton FINALIZAR COMPRA -->
            <section>
                <div>
                    <button class="comprar">FINALIZAR COMPRA</button>
                </div>
            </section>
            <!-- Boton BUSCAR MAS PRODUCTOS -->
            <section>
                <div>
                    <button class="mas">BUSCAR MAS PRODUCTOS</button>
                </div>
            </section>
        </section>
    </main>
                                            <!--  F O O T E R  -->
    <footer>
        <div class="logo-footer">
            <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
        </div>
        <section class="info">
            <ul>
                <h2>SOBRE NOSOTROS</h2>
                <li><a href="">About SoundSurge</a></li>
                <li><a href="">Mayoristas</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
            </ul>
            <ul>
                <h2>NUESTROS LOCALES</h2>
                <li><a href="https://goo.gl/maps/jgLkJ2YGPHFVgKx17" target="_blank">Sucursal Lanus</a></li>
                <li><a href="https://g.page/rockcenter?share" target="_blank">Sucursal C.A.B.A</a></li>
                <li><a href="https://goo.gl/maps/RUZwgessDfVcAD4u6" target="_blank">Sucursal Morón</a></li>
                <li><a href="https://goo.gl/maps/ptPoEctEW94BJj2n9" target="_blank">Sucursal San Miguel</a></li>
            </ul>
        </section>
        <section class="ubicacion">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.45534151131!2d-58.71488824942152!3d-34.54202478037978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd129cb9d84b%3A0x6759403edf94803f!2sLa
                %20P%C3%BAa.%20Instrumentos%20Musicales%2C%20audio%20e%20iluminaci%C3%B3n.!5e0!3m2!1ses-419!2sar!4v1658858434892!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
            <h2>REDES</h2>
        <section class="Redes-sociales">
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/soundsurgearg/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=CllgCJfttZZpkVbZCXfXnxCCSBjJPLglQDKnNTKgXCzQlKSZGSVkXNjCpwvBsPkkFClpmSdBvRg" target="_blank"><i class="fas fa-at" ></i></a></li>
            </ul>
        </section>
</body>
</html>