<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/256e07d023.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home-detalle">
    <header>
        <section class="navegacion">
            <input type="checkbox" name="burguer" id="burguer">
            <label class="burguer" for="burguer"><i class="fas fa-bars"></i></label>
            <nav>
                <ul>
                    <li><a class="btn-neon" href="#">Categorias</a></li>
                    <li><a class="btn-neon" href="#">Marcas</a></li> 
                    <li><a class="btn-neon" href="#">Lo + vendido</a></li> 
                </ul>
            </nav>
            <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
            <div class="busqueda">
                <input id="icons-search" name="icons-search" type="text" placeholder="¿Que estas Buscando?"><i class="fas fa-search"></i>
            </div>
            <div class="carrito">
                <a href="#" class="btn-neon"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="usuario">
                <input type="checkbox" name="perfil" id="perfil">
                <label class="perfil" for="perfil"><i class="fas fa-user-circle"></i></label>
                <nav class="opcionesDePerfil">
                    <ul>
                        <li><a class="btn-neon" href="#">login</a></li>
                        <li><a class="btn-neon" href="#">register</a></li> 
                        <li><a class="btn-neon" href="#">settings</a></li> 
                        <li><a class="btn-neon" href="#">sign out</a></li> 
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main class="detalleDeProd">
        <section class="sectionDetail">
            <div class="vistas">
                <ul>
                    <li><img src="/images/guitarraYamaha/principal.jpg" alt=""></li>
                    <li><img src="/images/guitarraYamaha/micros.jpg" alt=""></li>
                    <li><img src="/images/guitarraYamaha/clavijeros.jpg" alt=""></li>
                    <li><img src="/images/guitarraYamaha/atras.jpg" alt=""></li>
                    <li><img src="/images/guitarraYamaha/b-guitarra-electrica-yamaha-pacifica-112j.png" alt=""></li>
                </ul>
                <div class="detallado">
                    <i class="fas fa-percentage"> 20 </i>
                    <img class="principal" src="/images/guitarraYamaha/principal.jpg" alt="">
                    <img class="principal-movil" src="/images/guitarraYamaha/micros.jpg" alt="">
                    <img class="principal-movil" src="/images/guitarraYamaha/clavijeros.jpg" alt="">
                    <img class="principal-movil" src="/images/guitarraYamaha/atras.jpg" alt="">
                    <img class="principal-movil" src="/images/guitarraYamaha/b-guitarra-electrica-yamaha-pacifica-112j.png" alt="">
                </div>
            </div>
            <div class="detalle">
                <h2>
                    Guitarra eléctrica Yamaha PAC012/100 Series 012 de caoba black brillante con diapasón de palo de
                    rosa
                </h2>
                <br>
                <span> <i class="fas fa-award"></i> Garantia oficial</span>
                <span> <i class="fas fa-money-check"></i> Compra en 3, 6, 12 y 18 cuotas sin interes</span>
                <span> <i class="fa-solid fa-truck-fast"></i> Envios gratis desde 10.000</span>
                <div class="precio-descuento">
                    <h3 class="precio">$60.000</h3>
                    <p class="descuento">$75.000</p>
                </div>
                <div class="botones">
                    <button class="restar">-</button>
                    <input class="cantidad" type="number">
                    <button class="sumar">+</button>
                </div>
                <div class="agregar">
                    <button class="a-favorito" type="submit">Agregar a favoritos</button>
                    <button class="a-carrito" type="submit">Agregar al carrito</button>
                </div>
            </div>
        </section>
        <section class="descripcion">
            <h2>Descripcion</h2>
            <p>
                Yamaha es una marca que inspira a expresar la individualidad, la emoción y la creatividad de cada
                persona que usa uno de sus instrumentos. Sus productos se caracterizan por combinar la artesanía
                tradicional con tecnología digital avanzada.

                Material versátil
                Su madera de caoba la hace un producto versátil y popular. El tono viene marcado por la calidez y
                equilibrio, con agudos suaves y cargados matices armónicos.
            </p>
        </section>
        <section class="similares">
            <ul>
                <article>
                    <div class="producto">
                        <a href="/detalle">
                            <img class="similar" src="/images/guitarraYamaha/principal.jpg" alt="">
                            <h2>Guitarra electrica yamaha</h2>
                            <p>$ 74.495</p>
                        </a>
                    </div>
            </article>
            <article>
                <div class="producto">
                    <a href="/detalle">
                        <img class="similar" src="/images/bateria.webp" alt="">
                        <h2>Batería Yamaha Rydeen </h2>
                        <p>$ 205.504</p>
                    </a>
                </div>
            </article>
            <article>
                    <div class="producto">
                        <a href="/detalle">
                            <img class="similar" src="/images/bajo.webp" alt="">
                            <h2>Bajo Ibanez Gsr200sm </h2>
                            <p>$ 140.462</p>
                        </a>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <a href="/detalle">
                            <img class="similar" src="/images/teclado korg.webp" alt="">
                            <h2>Sintentizador Korg </h2>
                            <p>$ 134.912</p>
                        </a>
                    </div>
                </article>
                <article>
                        <div class="producto">
                            <a href="/detalle">
                                <img class="similar" src="/images/epiphone les paul.jpg" alt="">
                                <h2>Epiphone Les Paul Special VE</h2>
                                <p>$ 68.606</p>
                            </a>
                        </div>
                </article>
            <article>
                    <div class="producto">
                        <a href="/detalle">
                            <img class="similar" src="/images/IN EAR CTM CE320.jpg" alt="">
                            <h2>Auriculares In Ear ctm CE320</h2>
                            <p>$ 51.767</p>
                        </a>
                    </div>
            </article>
            </ul>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
        </div>
        <section class="info">
            <ul>
                <h2>SOBRE NOSOTROS</h2>
                <li><a href="">About SoundSurge</a></li>
                <li><a href="">Mayoristas</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
            </ul>
            <ul>
                <h2>NUESTROS LOCALES</h2>
                <li><a href="https://goo.gl/maps/jgLkJ2YGPHFVgKx17" target="_blank">Sucursal Lanus</a></li>
                <li><a href="https://g.page/rockcenter?share" target="_blank">Sucursal C.A.B.A</a></li>
                <li><a href="https://goo.gl/maps/RUZwgessDfVcAD4u6" target="_blank">Sucursal Morón</a></li>
                <li><a href="https://goo.gl/maps/ptPoEctEW94BJj2n9" target="_blank">Sucursal San Miguel</a></li>
            </ul>
        </section>
        <section class="ubicacion">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.45534151131!2d-58.71488824942152!3d-34.54202478037978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd129cb9d84b%3A0x6759403edf94803f!2sLa
                %20P%C3%BAa.%20Instrumentos%20Musicales%2C%20audio%20e%20iluminaci%C3%B3n.!5e0!3m2!1ses-419!2sar!4v1658858434892!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
            <h2>REDES</h2>
        <section class="Redes-sociales">
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/soundsurgearg/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=CllgCJfttZZpkVbZCXfXnxCCSBjJPLglQDKnNTKgXCzQlKSZGSVkXNjCpwvBsPkkFClpmSdBvRg" target="_blank"><i class="fas fa-at" ></i></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>