<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head",{title: "Not Found"}) %>
<body class="error">
    <main>
    <section>
        <h2>Parece que hubo un problema!</h2>
        <h1>Error 404</h1>
        <h3 class="first">La pagina que intentas solicitar no esta en el servidor.</h3>
        <h3>Prueba mejor con los siguientes links:</h3>
        <ul>
            <li>SoundSurge | <a href="/">Home</a></li>
            <li>SoundSurge | <a href="/categorias">Categorias</a></li>
            <li>SoundSurge | <a href="/lo-mas-vendido">Lo mas vendido</a></li>
            <li>SoundSurge | <a href="/marcas"></a>Marcas</li>
        </ul>
        <h3 class="second">Prueba de nuevo en nuestra home page:</h3>
        <ul>
            <li><a href="/">SoundSurge.com</a></li>
        </ul>
        <div class="foto">
            <img src="/images/404.png" alt="imagen 1">
        </div>
        <div class="logo">
            <img src="/images/LogoSoundSurge.png" alt="Logo">
        </div>
        <h4>© Derechos Reservados 2000-2022 SoundSurge Todos los Derechos Reservados.</h4>
    </section>
</main>

</body>
</html>