<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "Login"}) %>
<body class="login">
    <main>
        <section class="cont-form">
        <section class="logo-login">
                <img src="/images/LogoSoundSurge.png" alt="Logo de la empresa">
        </section>
        <h1>Bienvenido</h1>
        <h4>---------------Ingresar con email---------------</h4>
        <form action="/users/login" method="post" id="formularioLogin">
            <div class="container">
                <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                    <div id="emailContainer"></div>
                    <% if (locals.errors && errors.email) { %>
                        <small><%= errors.email.msg %></small>
                    <% } %>
            </div>
            <div class="container">
                <label for="contrasenia">Contraseña</label>
                    <input type="password" name="contrasenia"    placeholder="Ingresa tu contraseña">
                    <div id="passContainer"></div>
                    <% if (locals.errors && errors.contrasenia) { %>
                        <small><%= errors.contrasenia.msg %></small>
                    <% } %>
            </div>
            <div class="mostrar">
                <input type="checkbox" name="recordarme" id="recordarme">
                    <label for="recordarme" >Recordarme</label>
            </div>
            <button type="submit" class="inicio">Iniciar sesión</button>
        </form>
        <h4>---------------o---------------</h4>

            <button type="submit"><i class="fab fa-google"></i> Acceder con Google</button>

            <button type="submit" class="face"><i class="fab fa-facebook"></i> Acceder con Facebook</button>       
 

            <h3>¿No tiene cuenta?<a href="/users/register">Registrate</a></h3>

            <div class="foot-log">
                <a href="/">Soporte</a>
                <a href="/">Home</a>
                <a href="/">Contacto</a>
            </div>
        </section>
            <section class="video-promo">
                <video muted autoplay loop><source src="/videos/Guitar-Center-Showtime-Commercial.mp4"></video>
            </section>
    </main>
    <script src="/javascript/login.js"></script>
</body>
</html>