<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head",{title: "Detalle de producto"}) %>
  <body class="detalle">
    <%- include ("./partials/header") %>
    <main>

        <h1>lo+ vendido</h1>

    </main>
    <%- include ("./partials/footer") %> 
  </body>
</html>