<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "Perfil del usuario"}) %>
<body class="detalle">
    <%- include ("./partials/header") %> 
    <main class="detalleDeProd">
        <section class="sectionDetail">
            <div class="vistas">
                
            </div>
        </section>
    </main>
    <%- include ("./partials/footer") %> 
</body>
</html>