<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title: "Registro"}) %>
<body class="register">
    <main>
        <section class="container-register">
            <h1>Registro</h1>
            <p>Completa el registro con lo solicitado<br>para tener la mejor experiencia en Sound<br>Surge.</p>
        <form action="/users/register" method="post" enctype="multipart/form-data">
            <div class="icons">
                <i class="fas fa-user"></i>
                <div class="container container-img">
                    <input type="file" name="imagen" id="imagen">
                </div>
            </div>
            <div class="container">
                <label for="nombre">nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="container">
                <label for="apellido">apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido">
            </div>
            <div class="container">
                <label for="direccion">direccion</label>
                <input type="text" name="direccion" id="direccion" placeholder="Ingresa tu direccion">
            </div>
            <div class="container">
                <label for="telefono">telefono</label>
                <input type="text" name="telefono" id="telefono" placeholder="Ingresa tu telefono">
            </div>
            <div class="container">
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email">
            </div>
            <div class="container">
                <label for="contraseña">contraseña</label>
                <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña">
            </div>
            <div class="container">
                <label for="confirmar">Confirmar contraseña</label>
                <input type="password" name="confirmar" id="confirmar" placeholder="Confirma tu contraseña">
            </div>
           

            <div class="terminos">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Acepto los terminos y condiciones</label>
            </div>
            
            <button type="submit" class="enviar">Enviar</button>
            
        <h4>--------------- Registrarse con -----------------</h4>
            <button type="submit" class="facebook"><i class="fab fa-facebook"></i> Registrarte con Facebook</button>
            
        
            <button type="submit" class="google"><i class="fab fa-google"></i> Registrarte con Google</button>

        </form>
        <div class="foot-reg">
            <a href="/">Soporte</a>
            <a href="/">Home</a>
            <a href="/">Contacto</a>
        </div>
    </section>                  
    </main>
</body>
</html>