<div class="card">
      <ul>
        <% for( let i = 0; i <= 7; i++ ) { %>
            <article>
                <a href="/productos/detalle/<%= productos[i].id %>">
                <div class="producto"  style="background-image:url('/images/<%= productos[i].imagenes[0].nombre %>')">
                    <div class="precio-1">
                        <h3><%= productos[i].titulo %></h3>
                        <span >$<%= productos[i].precio %></span>
                    </div>
                </div>
                </a>
            </article>
        <% } %>
      </ul>
      <!-- <div >
          <button>Comprar producto</button>
      </div> -->
  </div>
  