<footer>
    <div class="logo-footer">
        <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
    </div>
    <section class="info">
        <ul>
            <h2>SOBRE NOSOTROS</h2>
            <li><a href="/aboutUs">About <br> SoundSurge</a></li>
            <li><a href="">Preguntas <br> frecuentes</a></li>
        </ul>
        <ul>
            <h2>NUESTROS LOCALES</h2>
            <li><a id="ubi1">Sucursal <br> Lanus</a></li>
            <li><a id="ubi2" >Sucursal <br> San Miguel</a></li>
        </ul>
    </section>
    <section class="ubicacion">
        <div id="mapa" class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52476.25863636203!2d-58.4572788!3d-34.7110774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a332d51c935575%3A0xdf50d90346647fa8!2sUnder%20Music!5e0!3m2!1ses-419!2sar!4v1671381505205!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
        <h2>REDES</h2>
    <section class="Redes-sociales">
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com/soundsurgearg/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=CllgCJfttZZpkVbZCXfXnxCCSBjJPLglQDKnNTKgXCzQlKSZGSVkXNjCpwvBsPkkFClpmSdBvRg" target="_blank"><i class="fas fa-at" ></i></a></li>
        </ul>
    </section>
</footer>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.8/dist/sweetalert2.all.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.all.min.js"></script>
<script src="/javascript/busqueda.js"></script>
<script src="/javascript/increase.js"></script>
<script src="/javascript/ubicacion.js"></script>
<script src="/javascript/carrito.js"></script>



