<footer>
    <div class="logo-footer">
        <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
    </div>
    <section class="info">
        <ul>
            <h2>SOBRE NOSOTROS</h2>
            <li><a href="">About SoundSurge</a></li>
            <li><a href="">Mayoristas</a></li>
            <li><a href="">Sucursales</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
        </ul>
        <ul>
            <h2>NUESTROS LOCALES</h2>
            <li><a href="https://goo.gl/maps/jgLkJ2YGPHFVgKx17" target="_blank">Sucursal Lanus</a></li>
            <li><a href="https://g.page/rockcenter?share" target="_blank">Sucursal C.A.B.A</a></li>
            <li><a href="https://goo.gl/maps/RUZwgessDfVcAD4u6" target="_blank">Sucursal Morón</a></li>
            <li><a href="https://goo.gl/maps/ptPoEctEW94BJj2n9" target="_blank">Sucursal San Miguel</a></li>
        </ul>
    </section>
    <section class="ubicacion">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.45534151131!2d-58.71488824942152!3d-34.54202478037978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd129cb9d84b%3A0x6759403edf94803f!2sLa
            %20P%C3%BAa.%20Instrumentos%20Musicales%2C%20audio%20e%20iluminaci%C3%B3n.!5e0!3m2!1ses-419!2sar!4v1658858434892!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
        <h2>REDES</h2>
    <section class="Redes-sociales">
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com/soundsurgearg/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=CllgCJfttZZpkVbZCXfXnxCCSBjJPLglQDKnNTKgXCzQlKSZGSVkXNjCpwvBsPkkFClpmSdBvRg" target="_blank"><i class="fas fa-at" ></i></a></li>
        </ul>
    </section>
</footer>