<header>
    <section class="navegacion">
        <input type="checkbox" name="burguer" id="burguer">
        <label class="burguer" for="burguer"><i class="fas fa-bars"></i></label>
        <nav class="opcionesDePerfil-Movil">
            <ul>
                <% if (locals.userLogin) { %>
                    <li><a class="btn-neon" href="/users/perfil">Perfil</a></li>
                    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                        <li><a class="btn-neon" href="/admin/lista">Admin</a></li>
                    <% } %>
                <% } else { %>
                    <li><a class="btn-neon" href="/users/login">login</a></li>
                    <li><a class="btn-neon" href="/users/register">Register</a></li> 
                <% } %>
                <li><a class="btn-neon" href="#">Categorias</a></li>
                <li><a class="btn-neon" href="#">Marcas</a></li> 
                <li><a class="btn-neon" href="/productos/todos">Todos los productos</a></li>
                <li><a class="btn-neon" href="/productos/loMasVendido">Lo + Vendido</a></li>
                <% if (locals.userLogin) { %>
                    <form class="exit" action="/users/logout?_method=DELETE" method="post">
                        <button class="logout" type="submit">Cerrar Sesion</button> 
                    </form>
                <% } %>
            </ul>
        </nav>
        <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
        <section>
            <ul class="opcionesDeProductos">
                <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                    <li><a class="btn-neon" href="/admin/lista">Admin</a></li>
                <% } %>
                <li><a class="btn-neon" href="/productos/categorias">Categorias</a></li>
                <li><a class="btn-neon" href="/productos/marcas">Marcas</a></li> 
                <li><a class="btn-neon" href="/productos/todos">Todos los productos</a></li>
                <li><a class="btn-neon" href="/productos/loMasVendido">Lo + Vendido</a></li>
            </ul>
        </section>
            
                <section class="busqueda">

                    <div>
                    <input id="iconSearch" name="search" type="text" placeholder="¿Que estas Buscando?"> 
                    </div>

                    <div>
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>

                </section>
        <div class="carrito1">
            <a href="/productos/carrito" target="_blank" class="btn-neon"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="usuario">
            <input type="checkbox" name="perfil" id="perfil">   
            <% if (locals.userLogin) { %>
                <input type="checkbox" name="perfil" id="perfil">
                <label class="perfilU" for="perfil"><img class="usuario"  src="/images/users/<%= locals.userLogin.imagen %>" alt=""><h2>Hola! <%= locals.userLogin.nombre %></h2>
                </label>
            <% } else { %>
                <input type="checkbox" name="perfil" id="perfil">
                <label class="sinLog" for="perfil"><i class="fas fa-user-circle"></i><h2>Hola!</h2></label>
            <% } %>
            <nav class="opcionesDePerfil">
                <ul>
                    <% if (locals.userLogin) { %>
                        <li><a class="btn-neon" href="/users/perfil">Perfil</a></li>
                        <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                            <li><a class="btn-neon" href="/admin/lista">Admin</a></li>
                        <% } %>
                        <form class="exit" action="/users/logout?_method=DELETE" method="post">
                        <button class="logout" type="submit">Cerrar Sesion</button> 
                        </form>
                    <% } else { %>
                        <li><a class="btn-neon" href="/users/login">login</a></li>
                        <li><a class="btn-neon" href="/users/register">Register</a></li> 
                    <% } %>
                    
                </ul>
            </nav>
        </div>
    </section>
</header>