<header>
    <section class="navegacion">
        <input type="checkbox" name="burguer" id="burguer">
        <label class="burguer" for="burguer"><i class="fas fa-bars"></i></label>
        <nav>
            <ul>
                <li class="movil-tablet" ><a class="btn-neon" href="/users/login">login</a></li>
                <li class="movil-tablet" ><a class="btn-neon" href="/users/register">Register</a></li> 
                <li><a class="btn-neon" href="#">Categorias</a></li>
                <li><a class="btn-neon" href="#">Marcas</a></li> 
                <li><a class="btn-neon" href="#">Lo + vendido</a></li>
                <li class="movil-tablet" ><a class="btn-neon" href="/admin/lista">Admin</a></li> 
            </ul>
        </nav>
        <a class="logo" href="/"><img src="/images/LogoSoundSurge.png" alt="logoSoundSurge"></a>
        <div class="busqueda">
            <input id="icons-search" name="icons-search" type="text" placeholder="¿Que estas Buscando?"><i class="fas fa-search"></i>
        </div>
        <div class="carrito">
            <a href="/productos/carrito" target="_blank" class="btn-neon"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="usuario">
            <input type="checkbox" name="perfil" id="perfil">
            <label class="perfil" for="perfil"><i class="fas fa-user-circle"></i></label>
            <nav class="opcionesDePerfil">
                <ul>
                    <li><a class="btn-neon" href="/users/login">login</a></li>
                    <li><a class="btn-neon" href="/users/register">Register</a></li> 
                    <li><a class="btn-neon" href="#">Settings</a></li> 
                    <li><a class="btn-neon" href="#">Sign Out</a></li> 
                    <li><a class="btn-neon" href="/admin/lista">Admin</a></li>
                </ul>
            </nav>
        </div>
    </section>
</header>